@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Anybody", sans-serif;
  --font-sans: "Hanken Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

/* Base style resets and scrollbar customization */
body {
  font-family: var(--font-sans);
  background-color: #0B0C10;
  color: #e2e2e4;
}

/* Custom scrollbars for dashboard terminals */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #111415;
}

::-webkit-scrollbar-thumb {
  background: #9500FF;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E1FD15;
}
